bin
obj
test.sy
test.ll
test.s
test.bin
test_output
.cache
frontend/parser/location.hh
frontend/parser/lexer.cpp
frontend/parser/yacc.h
frontend/parser/yacc.cpp
index.html
.vscode/
test.lexer
main 
main
compile_commands.json
.devcontainer/
tmp-4c0eb0c8.o.tmp
tmp-77deed2f.o.tmp
main.ll
check_optimize.py
optc
AGENTS.md
example.out.ll
75_rbtree.ll
a.out
a.out.txt
.gitignore
temp.sy
tmp.o
test.sh
temp.txt
